<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.deloitte.hk.mizuho.dao.T101userMapper" >
  <resultMap id="BaseResultMap" type="com.deloitte.hk.mizuho.dao.model.T101user" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="userid" property="userid" jdbcType="VARCHAR" />
    <result column="userpwd" property="userpwd" jdbcType="VARCHAR" />
    <result column="username" property="username" jdbcType="VARCHAR" />
    <result column="roleid" property="roleid" jdbcType="VARCHAR" />
    <result column="entityid" property="entityid" jdbcType="VARCHAR" />
    <result column="entityname" property="entityname" jdbcType="VARCHAR" />
    <result column="isused" property="isused" jdbcType="VARCHAR" />
    <result column="remark" property="remark" jdbcType="VARCHAR" />
    <result column="regdate" property="regdate" jdbcType="DATE" />
    <result column="createtime" property="createtime" jdbcType="TIMESTAMP" />
    <result column="updatetime" property="updatetime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, userid, userpwd, username, roleid, entityid, entityname, isused, remark, regdate, 
    createtime, updatetime
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from t101_user
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from t101_user
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.deloitte.hk.mizuho.dao.model.T101user" >
    insert into t101_user (id, userid, userpwd, 
      username, roleid, entityid, 
      entityname, isused, remark, 
      regdate, createtime, updatetime
      )
    values (#{id,jdbcType=BIGINT}, #{userid,jdbcType=VARCHAR}, #{userpwd,jdbcType=VARCHAR}, 
      #{username,jdbcType=VARCHAR}, #{roleid,jdbcType=VARCHAR}, #{entityid,jdbcType=VARCHAR}, 
      #{entityname,jdbcType=VARCHAR}, #{isused,jdbcType=VARCHAR}, #{remark,jdbcType=VARCHAR}, 
      #{regdate,jdbcType=DATE}, #{createtime,jdbcType=TIMESTAMP}, #{updatetime,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.deloitte.hk.mizuho.dao.model.T101user" >
    insert into t101_user
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="userid != null" >
        userid,
      </if>
      <if test="userpwd != null" >
        userpwd,
      </if>
      <if test="username != null" >
        username,
      </if>
      <if test="roleid != null" >
        roleid,
      </if>
      <if test="entityid != null" >
        entityid,
      </if>
      <if test="entityname != null" >
        entityname,
      </if>
      <if test="isused != null" >
        isused,
      </if>
      <if test="remark != null" >
        remark,
      </if>
      <if test="regdate != null" >
        regdate,
      </if>
      <if test="createtime != null" >
        createtime,
      </if>
      <if test="updatetime != null" >
        updatetime,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="userid != null" >
        #{userid,jdbcType=VARCHAR},
      </if>
      <if test="userpwd != null" >
        #{userpwd,jdbcType=VARCHAR},
      </if>
      <if test="username != null" >
        #{username,jdbcType=VARCHAR},
      </if>
      <if test="roleid != null" >
        #{roleid,jdbcType=VARCHAR},
      </if>
      <if test="entityid != null" >
        #{entityid,jdbcType=VARCHAR},
      </if>
      <if test="entityname != null" >
        #{entityname,jdbcType=VARCHAR},
      </if>
      <if test="isused != null" >
        #{isused,jdbcType=VARCHAR},
      </if>
      <if test="remark != null" >
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="regdate != null" >
        #{regdate,jdbcType=DATE},
      </if>
      <if test="createtime != null" >
        #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="updatetime != null" >
        #{updatetime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.deloitte.hk.mizuho.dao.model.T101user" >
    update t101_user
    <set >
      <if test="userid != null" >
        userid = #{userid,jdbcType=VARCHAR},
      </if>
      <if test="userpwd != null" >
        userpwd = #{userpwd,jdbcType=VARCHAR},
      </if>
      <if test="username != null" >
        username = #{username,jdbcType=VARCHAR},
      </if>
      <if test="roleid != null" >
        roleid = #{roleid,jdbcType=VARCHAR},
      </if>
      <if test="entityid != null" >
        entityid = #{entityid,jdbcType=VARCHAR},
      </if>
      <if test="entityname != null" >
        entityname = #{entityname,jdbcType=VARCHAR},
      </if>
      <if test="isused != null" >
        isused = #{isused,jdbcType=VARCHAR},
      </if>
      <if test="remark != null" >
        remark = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="regdate != null" >
        regdate = #{regdate,jdbcType=DATE},
      </if>
      <if test="createtime != null" >
        createtime = #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="updatetime != null" >
        updatetime = #{updatetime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.deloitte.hk.mizuho.dao.model.T101user" >
    update t101_user
    set userid = #{userid,jdbcType=VARCHAR},
      userpwd = #{userpwd,jdbcType=VARCHAR},
      username = #{username,jdbcType=VARCHAR},
      roleid = #{roleid,jdbcType=VARCHAR},
      entityid = #{entityid,jdbcType=VARCHAR},
      entityname = #{entityname,jdbcType=VARCHAR},
      isused = #{isused,jdbcType=VARCHAR},
      remark = #{remark,jdbcType=VARCHAR},
      regdate = #{regdate,jdbcType=DATE},
      createtime = #{createtime,jdbcType=TIMESTAMP},
      updatetime = #{updatetime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=BIGINT}
  </update>
  
  <select id="getByUserid" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from t101_user
    where userid = #{userid,jdbcType=VARCHAR}
  </select>
  <select id="queryMenu" resultType="com.deloitte.hk.mizuho.dao.model.T102menu" parameterType="java.lang.String">
  	select t102.* from t102_menu t102, t103_user_role t103, t104_role_menu t104 where 
  	 t102.menuid = t104.menuid and t104.roleid = t103.roleid and t103.userid = #{userid,jdbcType=VARCHAR}
  </select>
  <delete id="delByUserid" parameterType="java.lang.String" >
    delete from t101_user
    where userid = #{userid,jdbcType=VARCHAR}
  </delete>
</mapper>